.ctx-content-block2 {
	width: 100% !important;
	margin: 5px 0 !important;
	float: none !important;
  clear: both !important;
}
.ctx-content-block2 .ctx-sections-container {
  padding: 0 !important;
  border-width: 0 0 1px 0 !important;
  border-style: solid !important;
  border-color: #e3e3e3;
  margin: 0 0 5px 0 !important;
}
.ctx-content-block2 .ctx-section {
	width: 100% !important;
  float: none !important;
  padding: 0 !important;
  overflow: hidden !important; /* Force new block formatting context */
  border-width: 1px 0 0 0 !important;
  border-style: solid !important;
  border-color: #e3e3e3;
}
.ctx-content-block2 .ctx-links-header p {
  line-height: normal !important;
  text-align: center !important;
  font-weight: bold !important;
  margin: 0.7em 0 !important;
  color: #6d6d6d;
  font-size: 19px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
}
.ctx-content-block2 .ctx-links-content {
	width: 100%;
  text-align: center !important;
  margin: 10px 0 20px 0 !important;
}
.ctx-content-block2 .ctx-links-content:first-child {
  margin-top: 20px !important;
}
.ctx-content-block2 .ctx-link {
	max-width: 150px !important;
	display: inline-block !important;
  vertical-align: top !important;
  text-align: left !important;
}
.ctx-content-block2 .ctx-link.ctx-tweet {
  max-width: 323px !important;
  min-height: 1px !important;
}
.ctx-content-block2 .ctx-link-image img {
	max-width: 100% !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}
.ctx-content-block2 .ctx-link a {
	display: block !important;
  width: 100% !important;
  border: none;
	text-decoration: none;
}
.ctx-content-block2 .ctx-link-title p {
  width: 100% !important;
	line-height: normal !important;
  padding: 0.5em 0 0 0 !important;
  color: #6d6d6d;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
  -moz-word-break: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.ctx-content-block2 .twitter-tweet {
  margin: 0 !important;
}
/* module's styles for different sizes*/
/* MOBILE WIDGET */
.ctx-content-block2.ctx-module-mobile .ctx-links-content {
  margin-bottom: 2px !important;
}
.ctx-content-block2.ctx-module-mobile .ctx-link {
	width: 98% !important;
	max-width: 100% !important;
	margin: 0 1% 18px 1% !important
}
.ctx-content-block2.ctx-module-mobile .ctx-link.ctx-tweet {
	max-width: 100% !important;
}
.ctx-content-block2.ctx-module-mobile .ctx-link-title {
	width: 60% !important;
	float: left !important;
	padding: 0 0 0 2% !important;
}
.ctx-content-block2.ctx-module-mobile .ctx-link-title p {
  padding-top: 0 !important;
}
.ctx-content-block2.ctx-module-mobile .ctx-link-image {
	width: 38% !important;
	float: left !important;
}
.ctx-content-block2.ctx-module-mobile .ctx-link.ctx-5,
.ctx-content-block2.ctx-module-mobile .ctx-link.ctx-6,
.ctx-content-block2.ctx-module-mobile .ctx-social-section .ctx-link.ctx-2 {
	display: none !important
}
/* DEFAULT WIDGET */
.ctx-content-block2.ctx-module-default .ctx-link {
	width: 22% !important;
	margin: 0 1.5% !important
}
.ctx-content-block2.ctx-module-default .ctx-link.ctx-tweet {
  width: 47% !important;
}
.ctx-content-block2.ctx-module-default .ctx-link.ctx-5,
.ctx-content-block2.ctx-module-default .ctx-link.ctx-6,
.ctx-content-block2.ctx-module-default .ctx-social-section .ctx-link.ctx-2 {
	display: none !important
}
/* 5 LINKS WIDGET */
.ctx-content-block2.ctx-module-sec5 .ctx-link {
	width: 18% !important;
	margin: 0 1% !important
}
.ctx-content-block2.ctx-module-sec5 .ctx-link.ctx-tweet {
  width: 58% !important;
  max-width: none !important;
}
.ctx-content-block2.ctx-module-sec5 .ctx-link.ctx-6,
.ctx-content-block2.ctx-module-sec5 .ctx-social-section .ctx-link.ctx-5,
.ctx-content-block2.ctx-module-sec5 .ctx-social-section .ctx-link.ctx-2 {
	display: none !important
}
/* 6 LINKS WIDGET */
.ctx-content-block2.ctx-module-sec6 .ctx-link {
	width: 14.45% !important;
	margin: 0 1.1% !important
}
.ctx-content-block2.ctx-module-sec6 .ctx-link.ctx-tweet {
	width: 31.1% !important;
}
.ctx-content-block2.ctx-module-sec6 .ctx-social-section .ctx-link.ctx-6 {
	display: none !important
}
