.ctx-clearfix:before, .ctx-clearfix:after {
  content: "";
  display: table;
}
.ctx-clearfix:after {
  clear: both;
}
.ctx-nodefs {
  margin: 0 !important;
  padding: 0 !important
}
.ctx-nomar {
  margin: 0 !important;
}
