/* video links icon */
.ctx-video-icon {
    display: block !important;
    position: relative;
    width: 14px;
    height: 12px;
    float: left;
    margin-top:4px;
    margin-right: 9px;
    /* css3 */
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.ctx-video-icon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 1px;
    background-color: transparent;
    border-width: 5px 6px 5px 0;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-style: solid;
    left: 12px;
}
/* video links modal*/
.ctx-video-overlay {
    display: none;
    cursor: pointer;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.7);
    z-index: 10000;
    top: 0;
    left: 0;
}
.ctx-video-modal {
    display: none;
    top: 5% !important;
    left: 50% !important;
    background: #f6f6f6;
    position: fixed !important;
    z-index: 99999;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
    box-sizing: content-box;
}
.ctx-video-modal .ctx-video-close {
    display: block !important;
    float: right !important;
    margin-top: 5px;
    font-size: 21px;
    line-height: 24px;
    top: 8px;
    right: 11px;
    color: #7E7C7C;
    font-weight: bold;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    padding-top: 1px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 3px;
    border: 1px solid #7E7C7C;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.ctx-video-modal .ctx-video-close:hover {
    background-color: #7E7C7C;
    color: white;
}
.ctx-video-modal .ctx-video-frame {
    position: relative !important;
    z-index: 1000;
    overflow-y: auto;
}
.ctx-video-loading {
    display: block !important;
    height: 24px;
    left: 50%;
    position: absolute !important;
    z-index: 50;
    top: 45%;
    width: 24px;
    margin: -24px 0 0 -24px !important;
    background: url(../img/loading.gif) center center no-repeat;
}
.ctx-video-title {
    color: #000000;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 5px 0 8px 0;
    float: left;
}
.ctx-modal-social {
    width: 100%;
    float: left;
}
.ctx-modal-social iframe {
    float: left;
}
.ctx-video-frame .twitter-tweet-rendered {
    width: 100% !important;
}
/* Mobile Optimization */
@media all and (min-width: 800px) {
    .ctx-video-modal {
        margin-left: -350px !important;
        width: 700px !important;
        top: 10% !important;
    }
    .ctx-video-modal .ctx-video-frame {
        width: 700px !important;
        max-height: 480px !important;
        min-height: 380px !important;
    }
    .ctx-video-title {
        width: 90%;
    }
}
@media all and (min-width: 540px) and (max-width: 799px) {
    .ctx-video-modal {
        margin-left: -260px !important;
        width: 450px !important;
        top: 10% !important;
    }
    .ctx-video-modal .ctx-video-frame {
        width: 450px !important;
        height: 280px !important;
    }
    .ctx-video-title {
        width: 90%;
    }
}
@media all and (min-width: 340px) and (max-width: 539px) {
    .ctx-video-modal {
        margin-left: -180px !important;
        width: 340px !important;
    }
    .ctx-video-modal .ctx-video-frame {
        width: 340px !important;
        height: 250px !important;
    }
    .ctx-video-title {
        width: 90%;
    }
}
@media all and (max-width: 340px) {
    .ctx-video-modal {
        margin-left: -110px !important;
        width: 200px !important;
    }
    .ctx-video-modal .ctx-video-frame {
        width: 200px !important;
        height: 200px !important;
    }
    .ctx-video-title {
        width: 80%;
    }
}

.ctx-tweet-icon {
    width: 25px;
    height: 20px;
}

.ctx-tweet-icon img {
    width: 16px;
    height: 16px;
    box-shadow: none !important;
    margin: 0 !important;
}
