<ul class="search-pager pager hidden">
  <li class="previous disabled">
    <a href="#" class="search-prev"><i class="icon-angle-left"></i> {{t 'Previous'}}</a>
  </li>
  <li class="next">
    <a href="#" class="search-next">{{t 'Next'}} <i class="icon-angle-right"></i></a>
  </li>
</ul>