{{#each paneTypes}}
  <li class="sidebar-pane-type" data-pane-type="{{type}}">
    <a href="#" class="sidebar-pane-type-link">
      <i class="icon-{{icon}}"></i>
      <span class="sidebar-modified-flag{{#unless changed}} hide{{/unless}}">*</span>
      {{title}}
    </a>
  </li>
{{/each}}